*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    display:grid;
    place-content:center;
    gap:1rem;
    font-size:3rem;
    background-color: rgb(180, 20, 20);
    color: whitesmoke;

}

h1, p{
    text-align: center;
}